/*  ==========================
    CSS RESET
    ==========================  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*  ==========================
    My CSS
    ==========================  */


.hide {
    display: none !important;
}

@font-face {
    font-family: 'Roboto';
    src: 
        local('Roboto Regular')
        url('/assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: 
        local('Roboto Bold')
        url('/assets/fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

:root {
    --clr-red-button:hsl(4, 100%, 67%);
    --clr-darkred-button:hsl(347, 100%, 66%);
    --clr-blue800-text:hsl(234, 29%, 20%);
    --clr-blue700-background: hsl(235, 18%, 26%);
    --clr-grey-placeholder: hsl(0, 0%,58%);
    --clr-white-backgroud: hsl(0, 0%, 100%);

    --ff-base: 'Roboto', sans-serif;

    --fw-700:700;
    --fw-400:400;

    --fs-300: 0.825rem;
    --fs-400: 1rem;
    --fs-900: 2.5rem;
}

body {
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-blue800-text);
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--clr-blue800-text);
}

.newsletter-cta{
    background-color: var(--clr-white-backgroud);
    border-radius: 1rem;
}

.newsletter-cta img {
    margin-inline: auto;
    width: 100%;
}


.content{
    padding:1.5rem;
    display: grid;
    gap: 1rem;
}

.content__title {
    font-size: var(--fs-900);
    font-weight: var(--fw-700);
}

.cotent__list {
    display: grid;
    gap: 0.5rem;
    padding: 0;
}

.cotent__list li{
    display: grid;
    grid-template-columns: 2rem auto;
}

.cotent__list li::before {
    content: url(/assets/images/icon-list.svg);
}

input {
    padding: 1rem;
    border-radius: 0.5rem;
    font: inherit;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    border: 1px solid var(--clr-grey-placeholder);
}

.form-group {
    font-size: var(--fs-300);
    font-weight: var(--fw-700);
    display: grid;
    gap:0.5rem;
}

.newsletter-cta form {
    display: grid;
    gap:1.5rem;
}

button {
    background: var(--clr-blue800-text);
    color: var(--clr-white-backgroud);
    font:inherit;
    font-weight: var(--fw-700);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
}

.button:hover,
.button:focus-visible {
    position: relative;
    background: linear-gradient(-90deg,
        var(--clr-red-button),
        var(--clr-darkred-button)
    );
}

.button:hover::after,
.button:focus-visible::after {
    z-index: -1;
    content: '';
    position: absolute;
    inset: 0;
    background: inherit;
    border-radius: inherit;
    translate: 0 1.5rem;
    filter: blur(1rem);
    opacity: 0.5;
}

.form-group > .error {
    text-align: end;
    color: var(--clr-red-button);
    display: none;
}

.form-group:has(:not(:focus):invalid) > .error {
    display: block;
}

.form-group.with-error-field {
    grid-template-columns: 1fr 1fr;
}

.form-group.with-error-field > input {
    grid-column: 1/-1;
}

input:not(:focus):invalid {
    background: hsl(4, 100%, 80%);
    border: 1px solid var(--clr-red-button);
    color: var(--clr-red-button);
}

.success {
    background-color: var(--clr-white-backgroud);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    
}

.success__content {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.success__title {
    font-size: var(--fs-900);
    font-weight: var(--fw-700);
}

.success__button {
    margin-bottom: 3rem;
    
}


@media (min-width: 46rem) and (max-width: 63.99rem) {
    .newsletter-cta {
        padding: 2rem 2rem;
        max-width: 608px;
        max-height: 878px;
    }

    .newsletter-cta img {
        border-radius: 1rem;
    }

    .content {
        padding: 2rem 0 1rem;
    }

    .content__title {
        font-size: 3rem;
    }

    .success-wrapper {
        background-color: var(--clr-blue800-text);
    }

    .success {
        height: 100%;
        padding: 3rem;
        border-radius: 1rem;
        max-width: 504px;
        max-height: 520px;

    }

    .success__content {
        margin:0;
    }

    .success__button {
        margin: 2rem 0 0;
    }
}

@media (min-width: 64rem) {
    .newsletter-cta {
        display: grid;
        grid-template-columns: 1fr max-content;
        padding: 2rem;
        max-width: 904px;
    }

    .newsletter-cta > .content {
        grid-column: 1;
        grid-row: 1;
    }

    .content__title {
        font-size: 3rem;
    }
    
    .success-wrapper {
        background-color: var(--clr-blue800-text);
    }

    .success {
        height: 100%;
        padding: 3rem;
        border-radius: 1rem;
        max-width: 504px;
        max-height: 520px;

    }

    .success__content {
        margin:0;
    }

    .success__button {
        margin: 2rem 0 0;
    }
}
